[run]
branch = True
source = app
omit =
    app/config.py
    */tests/*
    */alembic/*
    */migrations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:

show_missing = True
fail_under = 85
